{% extends "base.html" %}
{% block content %}

<div class="jumbotron container">

  <ul class="list-group">
  <li class="list-group-item active" aria-current="true"><h1>{{name}}</h1></li>
  <li class="list-group-item">Level: {{level}}</li>
  <li class="list-group-item">Class: {{class_}}</li>
  <li class="list-group-item">Saves: {{saves}}</li>
  <li class="list-group-item">Race: {{race}}</li>
  <li class="list-group-item">Gender: {{gender}}</li>
  <li class="list-group-item">Age: {{age}}</li>
  <li class="list-group-item">Weight: {{weight}}</li>
  <li class="list-group-item">Hair: {{hair}}</li>
  <li class="list-group-item">Eyes: {{eyes}}</li>
  <li class="list-group-item">Notes: {{notes}}</li>
  </ul>


</div>

{% endblock %}
