{% extends "base.html" %}
{% block content %}
  <br><br>


  <form method="POST">
    <div class="card font-monospace shadow-lg p-3 mb-5 bg-body rounded">
      <div class="card-header">
        Please Provide the Appropriate Credentials
      </div>
      <div class="card-body">
        {{form.hidden_tag()}}
        {{form.email.label(class="form-label")}}{{form.email(class="form-control")}}<br>
        {{form.password.label(class="form-label")}}{{form.password(class="form-control")}}<br>
        {{form.submit(class="btn btn-primary")}}
      </div>
    </div>
  </form>



{% endblock %}
