{% extends "base.html" %}

{% block content %}
  <h1>Welcome to Flyzer!</h1>
  <h3>Fill out the form below to complete the registration process:</h3>
  <form method="post">
    {{ form.hidden_tag() }}
    {{ form.email.label }} {{ form.email }}
    <br>
    {{ form.username.label }} {{ form.username }}
    <br>
    {{ form.password.label }} {{ form.password }}
    <br>
    {{ form.password_confirm.label }} {{ form.password_confirm }}
    <br>
    {{ form.phone_num.label }} {{ form.phone_num }}
    <br>
    {{ form.gender.label }} {{ form.gender }}
    <br>
    {{ form.submit() }}
    <br>
  </form>


{% endblock %}
